extends layout

block content
  .card
    h1(style="color: #dc3545; margin-bottom: 20px;") #{title}
    
    .error
      p #{message}
      if error
        p Error: #{error}
      if userId
        p User ID: #{userId}
    
    .actions(style="margin-top: 30px;")
      a.btn(href="/users") Back to Users
      a.btn.btn-secondary(href="/" style="margin-left: 10px;") Back to Home 